# Python
__pycache__/
*.pyc

# Entorno
.env
venv/
env/

# Base de datos
*.db
movara.db

# Firebase / credenciales
secure/
service_account.json
firebase_key.json
firebase.json

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db