<div class="logo">

    <h2>🚕 MOVARA</h2>

    <span>Control Center</span>

</div>

<nav class="menu">

    <a href="/admin">
        🏠 Dashboard
    </a>

    <a href="#">
        🚕 Operaciones
    </a>

    <a href="#">
        👥 Usuarios
    </a>

    <a href="#">
        🚗 Conductores
    </a>

    <a href="#">
        👤 Clientes
    </a>

    <a href="#">
        📦 Entregas
    </a>

    <a href="#">
        🌎 Territorio
    </a>

    <a href="#">
        📍 Áreas Operativas
    </a>

    <a href="#">
        ⚙ Configuración
    </a>

    <a href="#">
        📊 Reportes
    </a>

    <a href="#">
        📜 Auditoría
    </a>

</nav>

<div class="sidebar-footer">

    <small>
        Movara Platform
    </small>

    <small>
        MCC v1.0
    </small>

</div>
